<!-- Sidebar -->
<div id="sidebar">

    <div class="inner">

        <!-- Search Box -->
        <section id="search" class="alt">
            <form method="get" action="#">
                <input type="text" name="search" id="search" placeholder="Search..."/>
            </form>
        </section>

        <!-- Menu -->
        <nav id="menu">
            <ul>
                <% if (rootUser && rootUser.role !== 'admin') { %>
                    <li>
                        <span class="opener">Добавить заявку</span>
                        <ul>
                            <li><a href="/requests/buy">Приобретение</a></li>
                            <li><a href="/requests/repair">Починка</a></li>
                            <li><a href="/requests/move">Передача</a></li>
                            <li><a href="/requests/remove">Списание</a></li>
                        </ul>
                    </li>
                <% } %>
                <li>
                    <a href="/requests">Список заявок</a>
                </li>
                <li>
                    <span class="opener">Оборудование</span>
                    <ul>
                        <li><a href="/equipments">Список оборудования</a></li>
                        <% if (rootUser && rootUser.role === 'admin') { %>
                            <li><a href="/equipments/create">Добавить оборудование</a></li>
                        <% } %>
                    </ul>
                </li>
                <% if (rootUser && rootUser.role === 'admin') { %>
                <li>
                    <span class="opener">Сотрудники</span>
                    <ul>
                        <li><a href="/employees">Список</a></li>
                        <li><a href="/employees/create">Добавить</a></li>
                    </ul>
                </li>
                <% } %>
            </ul>
        </nav>

        <!-- Footer -->
        <footer id="footer">
            <p class="copyright">Copyright &copy; 2021 Sibgatulin Danila
                <br>Designed by <a rel="nofollow" href="https://www.facebook.com/templatemo">Template Mo</a></p>
        </footer>
    </div>
</div>
