<!-- Sidebar -->
<div id="sidebar">

    <div class="inner">

        <!-- Search Box -->
        <section id="search" class="alt">
            <form method="get" action="#">
                <input type="text" name="search" id="search" placeholder="Search..."/>
            </form>
        </section>

        <!-- Menu -->
        <nav id="menu">
            <ul>
                <li>
                    <span class="opener">Заявки</span>
                    <ul>
                        <li><a href="/requests">Список</a></li>
                        <li><a href="/requests/create">Добавить</a></li>
                    </ul>
                </li>
                <li>
                    <span class="opener">Оборудование</span>
                    <ul>
                        <li><a href="/equipments">Список оборудования</a></li>
                        <li><a href="/equipments/types">Список типов оборудования</a></li>
                        <li><a href="/equipments/subtypes">Список подтипов оборудования</a></li>
                        <li><a href="/equipments/create">Добавить оборудование</a></li>
                        <li><a href="/equipments/types/create">Добавить тип оборудования</a></li>
                        <li><a href="/equipments/subtypes/create">Добавить подтип оборудования</a></li>
                    </ul>
                </li>
                <li>
                    <span class="opener">Сотрудники</span>
                    <ul>
                        <li><a href="/employees">Список</a></li>
                        <li><a href="/employees/create">Добавить</a></li>
                    </ul>
                </li>
            </ul>
        </nav>

        <!-- Footer -->
        <footer id="footer">
            <p class="copyright">Copyright &copy; 2021 Sibgatulin Danila
                <br>Designed by <a rel="nofollow" href="https://www.facebook.com/templatemo">Template Mo</a></p>
        </footer>
    </div>
</div>
