version: "3"
services: 
    mongo: 
        container_name: mongo
        hostname: mongo
        image: mongo
        ports: 
            - "27017:27017"
    server:
        build: 
            context: ./server
        ports: 
            - "3000:3000"
        links:
            - mongo
        volumes:
            - './server:/usr/src/server'
            - '/usr/src/server/node_modules'
    # client:
    #     build: client/
    #     network_mode: host
    #     ports:
    #         - "8080:8080"
    #     depends_on: 
    #         - server