<%- include('partials/head') %>

<div id="main">
    <div class="inner">

        <%- include('partials/header') %>

        <section class="forms">
            <h1 class="mb-5">Заполните вашу заявку:</h1>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <form id="contact" action="" method="post">
                            <div class="row">

                                <div class="col-md-12">
                                    <select name="equipment" id="equipment">
                                        <option value="categories" selected>Выберите оборудование</option>
                                        <option value="Featured">Компьютер 1</option>
                                        <option value="Newest">Компьютер 2</option>
                                    </select>
                                </div>
                                <div class="col-md-12">
                                    <select name="category" id="category">
                                        <option value="categories" selected>Выберите тип заявки</option>
                                        <option value="Featured">Закупить новое</option>
                                        <option value="Newest">Списать старое</option>
                                        <option value="Low Price">Передать</option>
                                        <option value="High Price">Требуется починить</option>
                                    </select>
                                </div>
                                <div class="col-md-12">
                                    <fieldset>
                                        <textarea name="message" rows="6" class="form-control" id="message" placeholder="Примечание..." required=""></textarea>
                                    </fieldset>
                                </div>
                                <div class="col-md-12">
                                    <fieldset>
                                        <button type="submit" id="form-submit" class="button">Подтвердить</button>
                                    </fieldset>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<%- include('partials/sidebar') %>

<%- include('partials/footer') %>
